@model IEnumerable<_2_Helpers.Models.Product>

<table>
    <thead>
        <tr>
            <td>ProductID</td>
            <td>ProductName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (_2_Helpers.Models.Product item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
            </tr>
        }
    </tbody>
</table>

