
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:50px;">
    <label class="label label-danger">
        Toplam Site İçerisindeki Online Kullanıcı Sayısı : @ApplicationInstance.Application["onlineUser"]
    </label>
</div>

